.genesis-hook {
	margin: 12px 10px;
	overflow: hidden;
}

.genesis-hook input {
	border: 1px solid #ddd;
	background-color: #eee;
	outline: 0;
	-webkit-transition: 50ms border-color ease-in-out;
	transition: 50ms border-color ease-in-out;
	padding: 5px 7px;
	font-size: 16px;
	line-height: 1;
	border-radius: 2px;
}

.genesis-hook input:hover,
.genesis-hook input:focus {
	border: 1px solid #21759b;
}